* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, Verdana, serif;
}

body {
    padding: 8px;
}

header {
    position: relative;
    height: 220px;
    overflow: hidden;
    margin: 70px 0;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    font-weight: bold;
    color: blue;
}

h3, img, h2, p {
    margin-bottom: 16px;
}