* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, Verdana, serif;
}

section {
    background-color: rgba(178, 101, 101, 0.6);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 16px;
}

article {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
}

article img {
    border-radius: 50%;
    border: 1px solid #abaaaa;
}

header {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    object-fit: contain;
}

h1 {
    font-family: "Bookman Old Style", sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #b26565;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.34);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1f1f1f;
}

h3 {
    text-align: left;
    width: 100%;
}

span {
    font-weight: bold;
    color: #1f1f69;
}

h3, img, h2, p {
    margin-bottom: 16px;
}

.brushes {
    background-color: rgba(0, 250, 154, 0.3)
}

.frames {
    background-color: rgba(240, 128, 128, 0.3)
}

.paint {
    background-color: rgba(135, 206, 235, 0.3)
}